/* .card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
} */

.top-menu {
  margin-top: 50px;
}

#blog_search {
  float: right;
}

.card-columns {
  margin-top: 50px;
}